<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="about.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/about.css">
</head>
<body>
  <header>
    <h1>About Us</h1>
    <nav>
      <a href="home.ejs">Home</a>
      <a href="contact.ejs">Contact Us</a>
      <a href="profile.ejs">Profile🤵</a>
    </nav>
  </header>

  <section class="about-section">
    <div class="about-content">
      <h2>What We Do?</h2>
      <p>
        We are a passionate group of friends on a mission to tackle food wastage through this website. Our aim is to bridge the gap between surplus food and needy people, ensuring that no meal goes to waste while helping those in need.
      </p>
      <blockquote>
        "Transforming surplus into smiles, one meal at a time."
      </blockquote>
    </div>
    <div class="about-images">
      <img src="https://i.pinimg.com/originals/63/52/05/63520521e1dba8a934497b9260238e5d.jpg" alt="Helping hands" />
    </div>
  </section>

  <footer>
    <p>&copy; 2025 Vivanda. All rights reserved.</p>
  </footer>
</body>
</html>
