<%- include('partials/header') %>
<body>
    <form method="post" href="editaddress">
        <div class="edit-section" id="edit-section">
            <label for="new-address">New Address:</label>
            <input type="text" id="new-address" placeholder="Enter new address">
            <button id="save-address">Save Address</button>
            <button id="cancel-edit">Cancel</button>
        </div>
    </form>
        
</body>
