<%- include('partials/header') %>
<div>
    <div>
      <div id="loginForm">
        <form action="/login" method="POST">
              <h2>Login</h2>
              <label for="username">Username:</label>
              <input type="text" id="username" name="username">
              <br>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password">
              <br>
              <button id="loginBtn" type="submit">Login</button>
              <br>
              <br>
              <!-- <button id="signupBtn" >Sign Up</button> -->
              <p id="loginError" style="color:red;"></p>
        </form>
      </div>
      </div>
    
</div>