
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    z-index: 1000;    
  }
  .about-section{
    margin-top:40px;
  }